---
// Dotted Separator Component
// A full-width separator with evenly spaced dots
---

<div class="w-full h-px" style="background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5) 1px, transparent 1px); background-size: 20px 1px; background-repeat: repeat-x;"></div>
